/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Header */
.header {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-top: 80px; /* Evita que el contenido quede oculto debajo del header */
}

/* Botones */
.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

/* Video */
video {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 100px auto 20px;
}